
.game_discount{
  display: flex;
  font-family: Saira;
  font-style: normal;
  font-weight: normal;
  align-items: center;
  justify-content: center;
}
.slider {
  padding-top: 172px;
  background: #191B20;

  .slider__wrapper {
    min-height: 712px;
    position: relative;
    .game__item{width: 100%;
    height: 100%;
    position: relative;}
    .slide_1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr) repeat(2, 0);
      grid-template-rows: repeat(2, 1fr) repeat(3, 0);
      max-height: 712px;
      .slide_1__block__1 {
        grid-area: 1 / 1 / 3 / 3;
        position: relative;
        //  background: url('../img/cyberpank.jpg') no-repeat;
      //    background-size: 100%;
      .game__img{
        width: 100%;
        height: 100%;
        background: url('../img/cyberpank.jpg') no-repeat;
         background-size: 100%;
         background-position: center center;
         background-size: 100% 100%;
      }
        .bestseller{
          position: absolute;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: 76px;
          color: #FFFFFF;
           text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
           bottom: 27px;

           left:99px;
        }

      }

      .slide_1__block__2 {
        grid-area: 1 / 3 / 2 / 4;
        position: relative;
          .game__img{
            width: 100%;
            height: 100%;
            background: url('../img/ds3.jpg') no-repeat;
              background-size: 100% 100%;

          }
          .game_discount{
            position: absolute;
            width: 137px;
            height: 44px;
            background: #000;
            color: #EF1010;
            font-size: 48px;
            bottom: 30px;
            right: 28px;

          }


      }

      .slide_1__block__3 {
        grid-area: 2 / 3 / 3 / 4;
        position: relative;
          .game__img{
            width: 100%;
            height: 100%;
            background: url('../img/resident3.jpg') no-repeat;
            background-size: 100% 100%;
          }
          .game_discount{
            position: absolute;
            width: 137px;
            height: 44px;
            background: #000;
            background: #77F444;
            font-size: 48px;
            bottom: 30px;
            right: 28px;

          }

      }
    }

    .slide_2 {
  background: #d44c4c;
    }

    .slide_3 {
      background: #d3ddcd;
    }

    .slide_4 {
      background: #3029cd;
    }

    .slide_5 {
      background: #a7cd29;
    }

    .slider__slide {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
  }

  .slider__panel {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
    .slider__panel__prev {
      cursor: pointer;
    }

    .slider__panel__next {
      cursor: pointer;
    }

    .slider__panel__middle {
      display: flex;

      .slider__panel__middle__button {
        transition: background-color 0.6s ease;
        cursor: pointer;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid rgb(255, 27, 1);
        margin-right: 53px;
      }
    }
  }
}

.active,
.slider__panel__middle__button:hover {
  background-color: rgb(255, 27, 1);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
.slider__tittle{
  display: none;

  margin: 0 auto;
  margin-top:20px;
  text-align: center;
  max-width: 380px;
  background: #1A1717;
}
.slider__tittle__text{
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 3em;
line-height: 28px;
padding: 30px 20px;
color: #FFFAFA;



text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.slider__short__list{
  display: none;
  margin-top: 30px;
  justify-content: center;
  .vl{
    border-left: 2px solid #fff;
    height: 302px;
  }
  .game__item{
    &:nth-child(1){margin-right: 15px;}
    &:nth-child(3){margin-left: 15px;}
    width: 453px;
    height: 302px;
    position: relative;
    .game_discount{
      display: flex;
      position: absolute;
      width: 137px;
      height: 44px;
      background: #000;
      color: #EF1010;
      font-size: 48px;
      bottom: 30px;
      right: 0;

    }
    .game__img{
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: 100% 100%;



    }
  }
}
